@import "../defaults/color";
@import "../defaults/breakpoint";
@import "../index";

main{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 100px 50px 1fr;
        
        
    .heading {
        background-color: $primary-background;
        color: $secondary-color;
        padding-bottom: 20px;
        grid-column: 1 / -1;
        grid-row: 1 / 3;
        text-align: center;
           
    }

    .description {
        height: 70vh;
        border: 2px solid $border-color;
        background-color: $secondary-background;
        color: $secondary-color;
        padding: 20px;
        margin: 10px;
        grid-column: 2 / 3;
        grid-row: 2 / -1;

        #download {
        background-color: $primary-color;
        color: $secondary-color;
        text-decoration: none;



        }
    }


}

@media screen and (min-width: $medium) {
    main {
        font-size: 25px;


        #download {
            background-color: $primary-color;
            color: $secondary-color;
            text-decoration: none;
    
            &:hover {
                transform: scale(1.1);
                color:$primary-background;
            }
        }

    }

}