@import "../defaults/color";
@import "../defaults/breakpoint";
@import "../index";


main {
    border: 5px solid $border-color;
    padding: 20px;
    margin: 100px;
    width: 50%;
    background-color: $secondary-background;
    color: $secondary-color;
    
    
    .heading {
        text-align: center;
        color: $another-color;
    }

    #download {
        background-color: $another-color;
        color: $primary-background;
        font-weight: bold;
    }
}

@media screen and (min-width: $medium) {

    main {
        width: auto;

        .heading {
            color: rgb(169, 144, 177);
        }

        #download {

            &:hover {
                transform: scale(1.1);
                background-color: $primary-color;
                color:black;   
            }
        }
    }
    
}