header {
  background-color: #292A30;
  padding: 30px;
}
@media screen and (max-width: 600px) {
  header .logo-name {
    margin-bottom: 20px;
  }
}
header .logo-name #logo {
  width: 80px;
  color: #889d6c;
}
header .logo-name .name {
  font-size: 35px;
  color: #889d6c;
  padding: 30px;
  text-decoration: none;
  font-family: fantasy;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
}
header .nav-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 20px;
}
header .nav-items a {
  text-decoration: none;
  color: whitesmoke;
}

@media screen and (min-width: 600px) {
  header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  header .logo-name {
    width: 500px;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 40px;
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  header #logo:hover {
    transform: scale(1.5);
  }
  header .name {
    text-decoration: none;
    transition: transform 0.4s;
    font-style: italic;
  }
  header .name:hover {
    transform: scale(1.2);
    color: whitesmoke;
  }
  header .nav-items {
    width: 500px;
    position: absolute;
  }
}
footer {
  background-color: #292A30;
  padding: 16px;
  text-align: center;
  color: whitesmoke;
}
footer .social-media {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
footer .social-media a i {
  color: #889d6c;
}

@media screen and (min-width: 600px) {
  footer .social-media {
    width: 15%;
    margin-left: auto;
  }
  .newsletter form {
    max-width: 100%;
    position: relative;
    padding: 10px;
  }
}
/* import is used to bring over any styling that has previously been saved under another file or folder*/
/* A selector is used to choose which part of the elements needs styling (eg. body, h1, a) */
body {
  margin: 0; /* margin is the space around the element */
  background-color: #292A30; /* used to choose the background color of the body */
  min-height: 100vh; /* selects the minimum height for the body */
  display: flex; /* flexbox is a way to display content in a layout of your choosing*/
  flex-direction: column;
  justify-content: space-between;
}
body .content {
  text-align: center; /* text-align can be used to choose where the text is displayed*/
  margin: 10px;
  padding: 10px; /* padding is the space between the element */
  color: rgb(192, 196, 190); /* to choose the color of the text */
}
body .content h1 {
  color: whitesmoke;
  font-size: 40px; /* to choose the size of the text */
}
body .content a {
  text-decoration: none; /* 'a' has an underline that's automatically applied to it. By adding text-decoration to none, it removes the underline */
  color: #889d6c;
}
body .content a:hover { /* when you hover over the link the color changes */
  color: whitesmoke;
}

main .heading {
  color: #889d6c;
  font-size: 25px;
  padding: 20px;
  margin: 10px;
}
main .heading h2 {
  text-align: center;
}
main a {
  text-decoration: none;
  color: whitesmoke;
}
main article {
  border: 2px solid rgb(120, 109, 154);
  color: rgb(192, 196, 190);
  border-radius: 10px;
  overflow: hidden;
  margin: 30px 40px;
  background-color: #31373c;
  padding: 20px;
  text-align: center;
}
main article section .blog1-img {
  width: 100%;
  border-radius: 10px;
}
main article section .blog2-img {
  width: 100%;
  border-radius: 10px;
}
main article section .blog3-img {
  width: 100%;
  border-radius: 10px;
}
main article section .blog4-img {
  width: 100%;
  border-radius: 10px;
}
main article section .blog5-img {
  width: 100%;
  border-radius: 10px;
}

@media screen and (min-width: 600px) {
  main {
    display: flex;
    flex-direction: row;
  }
  main article:hover {
    transform: scale(1.2);
    background-color: #29323a;
  }
}/*# sourceMappingURL=blogs.css.map */