@import "../defaults/color";
@import "../defaults/breakpoint";

main {
    display: flex;
    justify-content: center;
    flex-direction: column;

    article {
        border: 2px solid rgb(120, 109, 154);
        border-radius: 10px;
        overflow: hidden;
        margin: 30px 50px;
        background-color: #31373c;
        padding: 20px;
        text-align: center;



        section {
            .services-img{
                width: 100%;
                border-radius: 10px;

            }
        }
    }
}

@media screen and (min-width: 600px) {
    main {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }
    
}