@import "../defaults/color";
@import "./utils";
@import "../defaults/breakpoint";

header {

    background-color: $primary-background;
    padding: 30px;

        .logo-name {
            margin-bottom: 10px;
               
              

            #logo {
                width: 80px;
            } 

            .name {
                font-size: 2rem;
                color: $primary-color;
                padding: 10px;
                margin: 20px;
                text-decoration: none;
                font-family: fantasy;
                font-weight: bold;
                position: relative;
                
            } 
        }

    .nav-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; 
        font-size: 20px;
        position: relative;
        

        a {
            text-decoration: none;
            color: $secondary-color;
            
        }
    }
}

@media screen and (min-width: $medium) {
    header {
        

        .logo-name {
            margin-top: 0px;

           

        }
        
    
        #logo:hover {
            transform: rotate(10deg);
           /* make the logo rotate 10 degrees*/
        }
   
        .name {
            font-size: 600%;
            text-decoration: none;
            font-style: italic; 
           
        }

        .name:hover {
            color: $secondary-color;
        }
   
       .nav-items {
            width: 70%;
            position: relative;

            #about:hover {
                transform: rotate(5deg);
                color: $tertiary-color;
                text-decoration-line: overline;
            
            }
            #services:hover {
                transform: rotate(-5deg);
                color: $tertiary-color;
                text-decoration-line: underline;

            }
            #blogs:hover{
                transform: rotate(5deg);
                color: $tertiary-color;
                text-decoration-line: overline;
            }

            #contactme:hover {
                transform: rotate(-5deg);
                color: $tertiary-color;
                text-decoration-line: underline;
            }
        }
       
    }      
}   

@media screen and (min-width: $large) {

    header {

        .nav-items {
            width: 50%;
            

        }
    }
    
}