@import "../defaults/color";
@import "./utils";
@import "../defaults/breakpoint";

header {

    background-color: $primary-background;
    padding: 30px;

        .logo-name {
            @media screen and (max-width:600px) {
                margin-bottom: 10px;
               
              

            }

            #logo {
                width: 80px;
                color: $primary-color;
            } 

            .name {
                font-size: 35px;
                color: $primary-color;
                padding: 20px;
                text-decoration: none;
                font-family: fantasy;
                font-weight: bold;
                display: flex;
                justify-content: flex-end;
            } 
        }

    .nav-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; 
        font-size: 20px;

        a {
            text-decoration: none;
            color: $secondary-color;
            
        }
    }
}

@media screen and (min-width: $medium) {
    header {

        .logo-name {
            width: 500px;
            margin-top: 0px;
            margin-left: 50px;
            margin-right: 40px;

        }
        
    
        #logo:hover {
            transform: scale(1.5);
           
        }
   
        .name {
            text-decoration: none;
            transition: transform .4s;
            font-style: italic; 
           
        }

        .name:hover {
            transform: scale(1.2);
            color: $secondary-color;
        }
   
       .nav-items {
            width: 500px;
            position: absolute;
        }
       
    }      
}   
