
@import "./defaults/color";
@import "./components/header";
@import "./components/footer";

/* import is used to bring over any styling that has previously been saved under another file or folder*/

/* A selector is used to choose which part of the elements needs styling (eg. body, h1, a) */
body {
    margin: 0; /* margin is the space around the element */
    background-color: $primary-background; /* used to choose the background color of the body */
    min-height: 100vh; /* selects the minimum height for the body */

    display: flex; /* flexbox is a way to display content in a layout of your choosing*/
    flex-direction: column;
    justify-content: space-between;


    .content {
        text-align: center; /* text-align can be used to choose where the text is displayed*/
        margin: 10px;
        padding: 10px; /* padding is the space between the element */
        color: $tertiary-color; /* to choose the color of the text */

        h1 {
            color: $secondary-color;
            font-size: 40px; /* to choose the size of the text */
    
        }

        a{
            text-decoration: none; /* 'a' has an underline that's automatically applied to it. By adding text-decoration to none, it removes the underline */
            color: $primary-color;

            &:hover { /* when you hover over the link the color changes */
                color: $secondary-color;

            }
        }
    }
}