
@import "./defaults/color";
@import "./components/header";
@import "./components/footer";


body {
    margin: 0;
    background-color: $primary-background;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content {
    position: absolute;
    top: 35%;
    left: 8%;

    h4 {
        color: rgb(174, 201, 192);
        font-size: 25px;
        margin-bottom: 50px;
        letter-spacing: 2px;
    }
    h1 {
        color: $secondary-color;
        margin: 20px 0px 20px;
        font-size: 55px;
    }
}