


body {
    margin: 0;
    background-color: rgb(40, 43, 46);
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    background-color: #292A30;
    padding: 20px;
    
    .logo-name {
        margin-bottom: 20px;

        .name {
            font-size: 30px;
            color: #889d6c;
            display: flex;
            justify-content: flex-end;

        }
    }

    .nav-items {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-evenly;
        font-size: 20px;

        a {
            text-decoration: none;
            color: whitesmoke;
            
        }

    }
}

#logo {
    width: 70px;

}

footer {
    background-color: #292A30;
    padding: 16px;
    text-align: center;
    
    
    .social-media {
        display: flex;
        justify-content: space-around;
        
        a {
            i {
                color: rgb(121, 153, 112);
            }
        }


    }
   
    

}